<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/home.css" />
<%- include('./partials/nav') %>

<main>
  <section>
    <h2>Restaurants near GA</h2>
    <div class="flex">
      <% restaurants.forEach((r) => { %>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://image.shutterstock.com/image-photo/interior-cozy-restaurant-contemporary-design-600w-709645828.jpg" alt="Card image cap">
          <ul class="rating">
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i> </li>
            <li><i class="fa-solid fa-star"></i></li>
          </ul>
        
          <div class="card-body">
            <h5 class="card-title"><%= r.name %> </h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      <% }) %>
    </div>
  </section>
</main>



<%- include('./partials/footer') %>
