html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: lightgray;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;
  
}

h1{
  display: flex;
  justify-content: center;
}

nav {
  background-color: white;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: space-evenly;
  font-size: 3rem;
  background-color: black;
  align-content: center;
}
nav :hover{
    color: rgb(118, 200, 95);
}

a{
  text-decoration: none;
  color: whitesmoke;
  
}

button{
  font-size: 2rem;
  margin: 0% 0% 5% 50%;
  border: 0.1em solid white;
  border-radius: 0.12em;
}

main {
  width: 80%;
  margin: 1rem auto;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  margin-bottom: 1.5rem;
}

.rating{
  margin-left: 1rem;
  padding: 0;
  
}

.rating li{
  display: inline;
}

.avatar{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 6px;
}

.avatar img{
  width: 100%;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: flex-start;
}

