<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
    <h1>Restaurants</h1>
  <main>
    <h2><a href="/">home </a> </h2>
    

  </main>



<%- include('../partials/footer') %>