<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
    <h1>Restaurants</h1>
  <main>
    <h2><a href="/">home </a> </h2>
    <% restaurants.forEach((r) => { %>
      <div>
        <img src=<%= r.image_url %>  alt="Card image cap">
      </div>
    <% }) %>  
  </main>

<%- include('../partials/footer') %>